
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reporting-labs/
/reports/
/allure-results/

# Env files
config/.env.*


# OS files
.DS_Store